<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>See All The Pokemon!</h1>



	<ul>
		<% for(let i = 0; i < pokemonList.length; i++) {%>	

		<li>
			
		<a href="/pokemon/<%=i%>"><%=pokemonList[i].name%></a>	


		</li>


	<%}%>	
	</ul>

<style type="text/css">
body {
  color: blanchedalmond;
  background-color: steelblue;
}
</style>

</body>
</html>