<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Gotta Catch 'Em All</h1>



	
	<h2><%= pokemon.name%></h2><br>
	
	<img src="<%=pokemon.img%>">

	<a href="/pokemon">Back</a>








</body>
</html>